@if (connected$ | async) {
  <div class="connection-status connected" role="status" aria-live="polite">
    <span class="connection-label">League Client connected</span>
    @if (activeInstall) {
      <span class="install-name" [title]="activePath">{{activeInstall.label}}</span>
    }
    <ng-container *ngTemplateOutlet="installPicker"></ng-container>
  </div>
} @else {
  <div class="connection-status" role="status" aria-live="polite">
    <span class="connection-label">
      @if (activePath) {
        Waiting for the League client
      } @else {
        No League installation found
      }
    </span>
    @if (activeInstall) {
      <span class="install-name" [title]="activePath">{{activeInstall.label}}</span>
    }
    <ng-container *ngTemplateOutlet="installPicker"></ng-container>
  </div>
}

<ng-template #installPicker>
  @if (clientPathError) {
    <span class="connection-error" [title]="clientPathError">{{clientPathError}}</span>
  }
  <span class="install-actions">
    @for (install of otherInstalls; track install.path) {
      <button
        type="button"
        class="install-switch"
        [disabled]="switching"
        [title]="install.path"
        (click)="selectInstall(install)">
        <span>Switch to {{install.label}}</span>
        @if (install.running) {
          <span class="running-dot" title="This client is running"></span>
        }
      </button>
    }
    <button type="button" class="install-browse" [disabled]="switching" (click)="browseForInstall()">
      {{switching ? 'Switching...' : 'Browse...'}}
    </button>
  </span>
</ng-template>
<mat-tab-group class="app-tabs" [mat-stretch-tabs]="false" animationDuration="180ms">
  <mat-tab label="Home"><ng-template matTabContent><app-home></app-home></ng-template></mat-tab>
  <mat-tab label="Match Tools"><ng-template matTabContent><app-match-tools></app-match-tools></ng-template></mat-tab>
  <mat-tab label="Friends"><ng-template matTabContent><app-friends></app-friends></ng-template></mat-tab>
  <mat-tab label="Status"><ng-template matTabContent><app-status></app-status></ng-template></mat-tab>
  <mat-tab label="Custom Icons"><ng-template matTabContent><app-customicon></app-customicon></ng-template></mat-tab>
  <mat-tab label="Background"><ng-template matTabContent><app-background></app-background></ng-template></mat-tab>
  <mat-tab label="Chat Rank"><ng-template matTabContent><app-chatrank></app-chatrank></ng-template></mat-tab>
  <mat-tab label="Champion Purchases"><ng-template matTabContent><app-champion-purchase-date></app-champion-purchase-date></ng-template></mat-tab>
  <mat-tab label="Custom API"><ng-template matTabContent><app-customapi></app-customapi></ng-template></mat-tab>
  <mat-tab label="Developer Tools"><ng-template matTabContent><app-lcu-explorer></app-lcu-explorer></ng-template></mat-tab>
  <mat-tab label="FAQ"><ng-template matTabContent><app-faq></app-faq></ng-template></mat-tab>
</mat-tab-group>
