@if (data.title) {
  <h1 mat-dialog-title>{{data.title}}</h1>
  <div mat-dialog-content>
    <p>{{data.body}}</p>
  </div>
} @else {
  @if (data.body === 'Success') {
    <h1 mat-dialog-title>Success</h1>
    <div mat-dialog-content>
      <p>Request made successfully.</p>
    </div>
  } @else {
    <h1 mat-dialog-title>Error</h1>
    <div mat-dialog-content>
      <p>{{data.body}}</p>
    </div>
  }
}
<div mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
</div>
